@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", san-serif;
  font-size: 20px;
  line-height: 26px;
  color: #242424;
  background-color: #fbf7f4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: 1px solid #E5E5E5;
  text-decoration: none;
  text-transform: uppercase;
}

.button-navigation {
  display: flex;
  justify-content: center;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-right: 9px;
  padding-left: 9px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* margin-right: 35px; */
}

.navigation-link {
  display: block;
  /* padding: 20px 17px; */
  padding-top: 19px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 19px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-logo {
  width: 139px;
  height: 30px;
  margin-right: 30px;
}

.navigation-user {
  justify-content: end;
  max-width: 300px;
  margin-left: auto
}

.navigation-user .navigation-link {
  width: 42px;
  height: 66px;
}

.search {
  padding: 23px 12px 24px 12px;
  margin-right: 12px;
  box-sizing: border-box;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 101% 50%;
}

.favorite {
  padding: 23px 12px 24px 12px;
  box-sizing: border-box;
  margin-right: 18px;
  background:
   url(../images/icons/number.svg) 100% 38% no-repeat,
   url(../images/icons/favorite.svg) 50% 50% no-repeat;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  /* background-image: url("../images/background-index.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat; */
  background:
  url("../images/background-divider.svg") -4px 428px no-repeat,
  url("../images/background-index.jpg") no-repeat;

  text-align: center;
  margin: 0 auto;
  padding-top: 51px;
}

.main-background-image {
  margin-bottom: 139px;
}

.main-inner {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/background-catalog.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 35px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-tagline {
  display: block;
  width: 1200px;
  margin-bottom: 80px;
}

.main-title {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.tagline {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
}

/* Color */
.brown {
  color: #FFFFFF;
  background-color: #756257;
}

.cold-light-blue {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.special-cold-light12 {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.special-cold-light20 {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.green-light {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.advantages {
  margin-bottom: 91px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-image {
  display: block;
}

.hotels-search {
  margin-bottom: 93px;
}

.hotels-search-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-search-text {
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  display: flex;
  justify-content: center;
  width: 575px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 93px;
}

.subscribe-index {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/background-subscribe.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 94px;
}

.page-subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-subscribe-text {
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.subscribe-field {
 width: 600px;
 height: 60px;
 border-width: 0;
 box-sizing: border-box;
 background-color: #F2F2F2;
 border-width: 0;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  padding: 6px;
  border-width: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 94px;
}

.page-footer {
  color: #000000;
  background: rgba(255, 255, 255, 1);
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 107px;
  margin: 0;
  padding: 0;
  margin-top: 49px;
  margin-bottom: 53px;
  margin-right: 61px;
  /* list-style-type: none; */
}

.footer-social-link {
  display: block;
  color: #83B3D3;
  text-decoration: none;
}

.about-text {
  margin: 0;
  padding: 0;
  margin-top: 42px;
  margin-bottom: 44px;
}

.footer-contacts-phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin-right: 53px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer-logo {
  display: block;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 26px;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.filter-hotels {
  margin-bottom: 133px;
  padding-left: 71px;
}

.catalog-filter {
  display: flex;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title {
  padding: 0;
  margin-right: 67px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-submit {
  width: 160px;
  height: 48px;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-width: 0;
}

.button-clear {
  width: 160px;
  height: 23px;
}

.sorting-container {
  display: flex;
  margin: 0 auto;
  margin-bottom: 53px;
  width: 1057px;
  color: #000000;
  background: #FFFFFF;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.inner-text-search {
  width: 529px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  margin-left: auto;
}

.catalog-products {
  width: 1056px;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  gap: 10px 18px;
  margin-bottom: 64px;
  color: #000000;
  background-color: #FFFFFF;
  list-style-type: none;
}

.product-card {
  display: grid;
  grid-template-rows: 206px min-content min-content min-content 37px;
  grid-template-columns: 133px 143px;
  gap: 16px 26px;
  padding:20px;
  background-color: grey;
}

.product-card-image-link {
  grid-column: 1 / -1;
}

.product-card-image {
  object-fit: contain;
  max-width: 100%;
}

.product-card-title-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  color:#000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.product-card-type {
  grid-column: 1 / 2;
  color:#000000;
  font-size: 18px;
  line-height: 23px;
}

.product-card-price {
  grid-column: 2 / 3;
  color:#000000;
  font-size: 18px;
  line-height: 23px;
}

.button-card-more {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-self: start;
  width: 133px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-right: 9px;
  padding-left: 9px;
  box-sizing: border-box;
}

.button-card-favorites {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-self: start;
  width: 141px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-right: 9px;
  padding-left: 9px;
  box-sizing: border-box;
}

.stars {
  grid-column: 1 /2;
}

.rating {
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  color:#000000;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-load {
  display: flex;
  justify-content: center;
  width: 619px;
  height: 60px;
  padding: 17px;
  box-sizing: border-box;
  border-width: 0;
  margin: 0 auto;
  margin-bottom: 60px;
}

.pagination-wrapper {
  display: flex;
  margin: 0 auto;
  margin-bottom: 73px;
  width: 1056px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #FFFFFF;
}

.subscribe-catalog {
  color: #000000;
  background-color: #FFFFFF;
  width: 800px;
  min-height: 241px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 140px;
}
